@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f1115;
  --card: #171a21;
  --text: #fffaf0;
  --accent: #c7ff5a;
  --app-accent: #2eb8c8;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
